<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>法律声明_{print webinfo('web_name')/}</title>
<link href="{path template/}/style/common.css" rel="stylesheet" type="text/css" />
<script src="{path template/}/js/jquery.js" type="text/javascript"></script>
<style>
.sitemap_box li{ height:auto; line-height:18px; text-indent:2em; padding:10px 10px 0px;}
.sitemap_box h2{ font-weight:700;}
.g_title{ margin-bottom:20px;}
</style>
</head>
<body>
{include head/}
<div class="wrap m15 min500">
	<div class="sitemap clearfix">
	  <div class="sitemap_box">
	  	<div class="g_title">法律声明</div>
	  	<h2>1、规则及科迪网址访问条件</h2>
	    <ul>
		 <li>以下规则适用于所有访问本网站的用户或浏览者，大连科迪视频技术有限公司（"科迪"）保留随时修改这些规则的权利。 访问本网站的权利由科迪根据下列条款授予。如果您不同意下列任何条款,请停止使用本网址。 对于违反这些规则的行为，科迪有权采取法律和公平的补救措施。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>2、不承诺责任声明</h2>
	    <ul>
		 <li>本网站所载的材料和信息，包括但不限于文本、图片、数据、观点、建议、网页或链路， 虽然科迪企图在网站上提供准确的材料和信息，但科迪并不保证这些材料和内容的准确、完整、充分和可靠性， 并且明确声明不对这些材料和内容的错误或遗漏承担责任，也不对这些材料和内容作出任何明示或默示的、 包括但不限于有关所有权担保、没有侵犯第三方权利、质量和没有计算机病毒的保证。 </li>
         <li>科迪可以在没有任何通知或提示的情况下随时对本网站上的内容进行修改，为了得到最新版本的信息，请定时访问本网站。</li>
         <li>科迪在本网站上所提及的非科迪产品或服务仅仅是为了提供相关信息，并不构成对这些产品、服务的认可或推荐。</li>
         <li>科迪并不就网址上提供的任何产品、服务或信息作出任何声明、保证或认可，所有销售的产品和服务应受本公司的销售合同和条款的约束。</li>
		</ul>
		<div class="clearfix m15"></div>
        <h2>3、着作权说明</h2>
	    <ul>
		 <li>本网站所载的所有材料或内容受版权法的保护， 所有版权由科迪拥有，但注明引用其他方的内容除外。 未经科迪或其他方事先书面许可，任何人不得将本网站上的任何内容以任何方式进行复制、经销、翻印、播放、以超级链路连接或传送、 以"镜像法"载入其他服务器上、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、 个人使用的下载或打印（条件是不得修改，且须保留该材料中的版权说明或其他所有权的说明）除外。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>4、商标</h2>
	    <ul>
		 <li>科迪网站上使用和显示的所有商标、标志皆属科迪所有，但注明属于其他方拥有的商标、 标志、商号除外。科迪网站所载的任何内容不应被视作未经科迪或其他方书面许可，以暗示、 不反对或其他形式授予使用前述任何商标、标志的许可或权利。未经事先书面许可， 任何人不得以任何方式使用科迪名称及科迪的商标、标记。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>5、提供的产品或服务</h2>
	    <ul>
		 <li>由于互联网的国际性或无国界性，因此通过本网站所提供信息的亦具有国际性， 所以不是所有的在本网站上所提到的产品或服务在您的国家或地区都提供， 请联系当地的销售代表或代理商了解在您的国家或地区所提供的产品或服务。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>6、第三方链接</h2>
	    <ul>
		 <li>本网站可能保留有与第三方网站或网址的链接，访问这些链接将由用户自己作出决定， 科迪并不保证这些链接上所提供的任何信息、数据、观点、图片、陈述或建议的准确性、完整性、充分性和可靠性。 科迪提供这些链接仅仅在于提供方便，并不表示科迪对这些信息的认可和推荐，也不是用于宣传或广告目的。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>7、个人信息的保护</h2>
	    <ul>
		 <li>科迪充分尊重您的隐私权，并且不遗余力保护您的个人信息。 通常情况下，您不需要提供任何个人信息就可以浏览科迪的网站。 为特定的目的，如果您以自愿填写的方式提供注册或订阅电子信息所需的姓名、性别、证件种类及证件号、出生年月日、国家、 电子邮件信箱、电话、联系地址和邮政编码、所希望提供的服务或喜好信息、客户代码以及其他类似的个人信息， 则表示您已经了解并接受您个人信息的用途，同意科迪为实现该特定目的使用您的个人信息。</li>
         <li>科迪承诺在任何时候、任何情况下都不会出售您的个人信息， 科迪只会在法律允许的范围内使用根据本条款获得的信息。但科迪可能会根据法律、 政府部门的要求向这些部门提供您某些个人信息； 或在科迪有理由认为有必要这样做来保护科迪、客户或公众时，也可能在尽可能小的范围内公开某些个人信息， 在您提供个人信息的时候应该已经预见并同意这种情况的发生。</li>
		</ul>
		<div class="clearfix m15"></div>
        
        <h2>8、适用法律和管辖权</h2>
	    <ul>
		 <li>通过访问本网站及使用通过本网站网址提供的设施和（或）服务, 即表示您同意该访问及该实施和/或服务的提供受中华人民共和国法律的约束， 且您同意受中华人民共和国法院的管辖。</li>
		</ul>
		<div class="clearfix m15"></div>
		
	  </div>	 
	</div><!--法律声明-->
</div>
{include foot/}
</body>
</html>