<!DOCTYPE HTML>
<html>
<head>
<title> {print cateinfo('cate_title_seo')/}_{print webinfo('web_name')/} </title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="{print webinfo('web_description')/}">
<meta name="keywords" content="{print webinfo('web_keywords')/}">
<link href="{path template/}/style/common.css" rel="stylesheet" type="text/css" />
<script src="{path template/}/js/jquery.js" type="text/javascript"></script>
<style>
.cbody{ height:235px;}
</style>
</head>
<body>
{include head/}

<div class="banner m15">
	<ul class="sub_banner">
    	{if out_id()==59 or out_id()==58 or out_id()==57}
        <li class="b1">
       	 <img src="{path template/}/images/b_exp.jpg">
        </li>
        {/if}
        {if out_id()==24 or out_id()==28 or out_id()==29 or out_id()==31}
        <li class="b1">
			<img src="{path template/}/images/b_tech.jpg">
		</li>
        {/if}
        {if out_id()!=59 and out_id()!=58 and out_id()!=57 and out_id()!=24 and out_id()!=28 and out_id()!=29 and out_id()!=31}
		<li class="b1">
			<img src="{path template/}/images/b_news.jpg">
		</li>
        {/if}
	</ul>
</div>


{if out_id()!=4}

<div class="wrap">
	<div class="innerWrap clearfix" style="padding-right:0;">
		<div class="i_left">
        	{assign source=get_tpl_list_nav() name=tree/}
			{if $tree}
            <!--新闻中心-->
            {if get_pid()==4}
            	<div class="ihead"><img src="{path template/}/images/news.jpg"></div>
            {/if}
             <!--技术服务-->
            {if get_pid()==24}
            	<div class="ihead"><img src="{path template/}/images/service.jpg"></div>
            {/if}
            
            <!--典型应用-->
            {if get_pid()==57}
            	<div class="ihead"><img src="{path template/}/images/typical.jpg"></div>
            {/if}
           	<!--{print get_cate(out_id())/}--> 
			<div class="ibody">
				<ul class="i_newlist">
                 {loop source=$tree item=$nav}
                 <li class="{print $nav['class']/}"><p><a href="{print $nav['url']/}" title="{print $nav['cate_name']/}">{print $nav['cate_name']/} </a> </p></li>
                 {/loop}
				</ul>
                {if get_pid()==24}
                	<dl class="pri_line">
                    	<dt>用服专线</dt>
                        <dd>0411-84753820-818</dd>
                        <dd>0411-84753820-878</dd>
                        <dd>0411-84753820-808</dd>
                    </dl>
                {/if}
			</div>
            {/if}
		</div>
		<div class="i_main">
			<div class="guide">{position source=position/}</div>
			<div class="newsbox">
				<div class="title"><span>{print get_cate(out_id())/}</span></div>
				<div class="news_list">
					<ul class="i_news">
                    	{loop  source=list_article()}
                        <li><span class="time">{print date('Y-m-d 	H:m:s',$v['updatetime'])/}</span><a href="{print $v['url']/}" {print $v['target']/} style="{print $v['style']/}">{print $v['title']/}</a></li>
						
                        {/loop}
					</ul>
                    <div class="list_page">
                        <div class="page_fy">
                        {print list_page()/}
                        </div>
                    </div>
				</div>
			</div>
			
		</div>
	</div>
</div>
{else}

<div class="wrap">

	<div class="col3 clearfix m15">
		<div class="new_cbox fl">
			<div class="title n_orange">
				<a href="{path article/}/article.php?id=9" class="news_more">more</a>
				<b>企业动态</b>
			</div>
			<div class="cbody">
				<dl class="topic">
                	{loop source=get_cate_content($cate_id='9',$limit='0,1') }
					<dt><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="120" height="80"></a></dt>
					<dd class="c_tit"><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],34)/}</a></dd>
					<dd class="c_des">
						<p>{print  cn_substr($v['cate_syn'],170)/}</p>
					</dd>
                    {/loop}
				</dl>
				<ul class="i_news">
                	{loop source=get_cate_content($cate_id='9',$limit='1,5') }
					<li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],60)/}</a></li>
                    {/loop}
				</ul>
			</div>
		</div>
		<div class="new_cbox fl" style="margin-left:13px; display:inline-block;">
			<div class="title n_green1">
				<a href="{path article/}/article.php?id=26" class="news_more">more</a>
				<b>行业资讯</b>
			</div>
			<div class="cbody">
				<dl class="topic">
					{loop source=get_cate_content($cate_id='26',$limit='0,1') }
					<dt><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="120" height="80"></a></dt>
					<dd class="c_tit"><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],34)/}</a></dd>
					<dd class="c_des">
						<p>{print  cn_substr($v['cate_syn'],170)/}</p>
					</dd>
                    {/loop}
				</dl>
				<ul class="i_news">
					{loop source=get_cate_content($cate_id='26',$limit='1,5') }
					<li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],60)/}</a></li>
                    {/loop}
				</ul>
			</div>
		</div>
		<div class="new_cbox fr">
			<div class="title n_blue1">
				<a href="{path article/}/article.php?id=25" class="news_more">more</a>
				<b>展会活动</b>
			</div>
			<div class="cbody">
				<dl class="topic">
					{loop source=get_cate_content($cate_id='25',$limit='0,1') }
					<dt><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="120" height="80"></a></dt>
					<dd class="c_tit"><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],34)/}</a></dd>
					<dd class="c_des">
						<p>{print  cn_substr($v['cate_syn'],170)/}</p>
					</dd>
                    {/loop}
				</dl>
				<ul class="i_news">
					{loop source=get_cate_content($cate_id='25',$limit='1,5') }
					<li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],60)/}</a></li>
                    {/loop}
				</ul>
			</div>
		</div>
	</div>
    <!--
	<div class="col2 clearfix m15">
		<div class="new_cbox fl">
			<div class="title n_orange">
				<a href="{path article/}/article.php?id=26" class="news_more">more</a>
				<b>行业资讯</b>
			</div>
			<div class="cbody">
				<dl class="topic">
                	{loop source=get_cate_content($cate_id='26',$limit='0,1') }
					<dt><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="105" height="105"></a></dt>
					<dd class="c_tit"><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],75)/}</a></dd>
					<dd class="c_des">
						<p>{print  cn_substr($v['cate_syn'],240)/}</p>
					</dd>
                    {/loop}
				</dl>
				<ul class="i_news">
					{loop source=get_cate_content($cate_id='26',$limit='1,5') }
					<li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],60)/}</a></li>
                    {/loop}
				</ul>
			</div>
		</div>
		<div class="new_cbox fr">
			<div class="title n_orange">
				<a href="{path article/}/article.php?id=27" class="news_more">more</a>
				<b>产品发布</b>
			</div>
			<div class="cbody">
				<dl class="topic">
					{loop source=get_cate_content($cate_id='27',$limit='0,1') }
					<dt><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/}><img src="{print $v['thumb_pic']/}" width="105" height="105"></a></dt>
					<dd class="c_tit"><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],75)/}</a></dd>
					<dd class="c_des">
						<p>{print  cn_substr($v['cate_syn'],240)/}</p>
					</dd>
                    {/loop}
				</dl>
				<ul class="i_news">
					{loop source=get_cate_content($cate_id='27',$limit='1,5') }
					<li><a title="{print $v['title']/}" href="{print $v['url']/}" {print $v['target']/} {if $v['style']}style="{print $v['style']/}"{/if}>{print cn_substr($v['title'],60)/}</a></li>
                    {/loop}
				</ul>
			</div>
		</div>
	</div>
    -->
</div>
{/if}
{include foot/}
</body>
</html>