<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>栏目管理</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript" src="template/images/ck_form.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#ex').click(function(){
		$expt=$(this).find('#expt');
		$val=$expt.text();
		if($val=='展开'){
			$('#tb2').show();
			$expt.text('收起');
		}else{
			$('#tb2').hide();
			$expt.text('展开');
		}
	});
	
});

function ck_show_url(n,id){
	$ck=$(n).attr('checked');
	if($ck){
		$(id).show();
	}else{
		$(id).hide();
	}
}
</script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 添加标示内容</span><p id="show_tech" style="display:none"></p></div><!--位置-->

<div class="lang">
			<ul>
			 <?php
 $cache_file=DATA_PATH."cache/lang_cache.php";
 $cache_arr=read_cache($cache_file,'lang_cache');
 if(!empty($cache_arr)){
 foreach($cache_arr as $k=>$v){
  if(!$v['lang_is_use']){continue;}
 ?>
 <li><a href="?lang=<?php echo $v['lang_tag'];?>" class="<?php if($GLOBALS['lang']==$v['lang_tag']){echo 'hover';}?>"><?php echo $v['lang_name'];?></a></li>
 <?php
 }
 }
 ?>
			</ul>
		</div><!--语言-->
		
<div class="caozuo_nav" style="width:97%; margin:0 auto">
<p style="line-height:24px;">片段内容只包含内容，内容形式如:首页简介,联系方式等页面部分需要手工修改的部分信息</p>
<p style="line-height:24px;">默认模板【标示名称】为以下几个可以自动输出：</p>
<p style="line-height:24px; color:#0000FF">contact_us输出联系方式；about_us输出简介</p>
<div class="clear"></div>
</div><!--小操作导航-->

<div class="order_contain">
<form name="maininfo" method="post" action="?" class="form" enctype="multipart/form-data">
 <div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:20%">参数说明</th><th style="width:80%">参数值</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td style="width:20%;text-align:center" class="w1"><span title="作为后台管理使用" class="help">片段名称：</span></td><td style="width:80%"><input name="tag_name" value="" title="片段名称" style="width:50%" reg="[^0]" />作为后台片段内容管理使用<span name="easyTip">不能为空</span></td>
		</tr>
		<tr>
		  <td style="width:20%;text-align:center" class="w1"><span title="请使用汉字、数字、字母,填写后不可更改" class="help">标示名称：</span></td><td style="width:80%"><input name="tag" value="" reg="^\w+$" title="标示名称" style="width:50%" /><span name="easyTip">只能为字母、数字或_组合</span></td>
		</tr>
		<tr>
		  <td style="width:20%;text-align:center" class="w1">片段内容：</td><td style="width:80%">
		 <?php
		 echo $GLOBALS['CKEditor']->editor("content", '',$fck_config);
		 ?>
		  </td>
		</tr>

		
		
		</tbody>
 </table>
 </div>
<div class="order_btn">
<input type="hidden" name="action" value="save_content"/><input type="hidden" name="lang" value="<?php echo $lang;?>"/>
  <input type="submit" value="确定" name="submit"/><input type="reset" style="margin:0 10px;" value="重置" name="reset"/>
 </div>
</form>
</div><!--内容切换-->

<div class="ie8-height"></div>


</body>
</html>
