<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>设置留言本</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 设置留言本</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="order_contain">
<form name="maininfo" method="post" enctype="multipart/form-data" action="?" class="form">
<div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th class="w1">参数说明</th><th class="w2">参数值</th><th class="w3">变量名</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td class="w1" style="text-align:center">开启留言本:</td><td class="w2"><label for="f1"><input id="f1" type="radio" value="1" name="is_book" style=" border:none" <?php if($rel[0]['is_book']){?>checked="checked"<?php }?>/>是</label><label for="f2"><input id="f2" style="border:none" type="radio" value="0" name="is_book" <?php if(!$rel[0]['is_book']){?>checked="checked"<?php }?>/>否</label></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">设置位置:</td><td class="w2"><label for="f3"><input id="f3" type="checkbox" value="1" name="book_pos[]" style="border:none" <?php if(in_array('1',$book_pos)){?>checked="checked"<?php }?>/>顶部导航</label><label for="f4"><input id="f4" style="border:none" type="checkbox" value="2" name="book_pos[]" <?php if(in_array('2',$book_pos)){?>checked="checked"<?php }?>/>底部导航</label></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">留言审核:</td><td class="w2"><label for="f5"><input id="f5" type="radio" value="1" name="book_verify" style="border:none" <?php if($rel[0]['book_verify']){?>checked="checked"<?php }?>/>是</label><label for="f6"><input id="f6" style="border:none" type="radio" value="0" name="book_verify" <?php if(!$rel[0]['book_verify']){?>checked="checked"<?php }?>/>否</label></td><td class="w3"></td>
		</tr>
	</tbody>
 </table>
 </div>
 <div class="order_btn">
<input type="hidden" name="action" value="save_book_info"/>
  <input type="submit" value="确定" name="submit"/><input type="reset" style="margin:0 10px;" value="重置" name="reset"/>
 </div>
</form>
</div>

</body>
</html>
