<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>模板页修改</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 模板页修改</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="admin_fh"><a href="?lang=<?php echo $lang;?>">返回</a></div>		
<div class="order_contain">		
<form name="maininfo" method="post" enctype="multipart/form-data" action="?" class="form">
 <div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:10%; text-align:center">参数说明</th><th class="w2">参数值</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td style="width:10%; text-align:center">模板地址:</td><td class="w2"><?php echo $file;?></td>
		</tr>
		<tr>
		  <td style="width:10%; text-align:center">修改:</td><td class="w2"><textarea style="width:100%; height:500px; font-size:12px;" name="template"><?php echo $str;?></textarea></td>
		</tr>
		
	</tbody>
 </table>
 </div>
<div class="order_btn">
<input type="hidden" name="action" value="save_template"/><input type="hidden" name="file" value="<?php echo $file;?>" />
  <input type="submit" value="确定" class="go" name="submit"/>
 </div>
</form>
</div>

<div class="ie8-height"></div>
</body>
</html>
