<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加语言包</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 >修改语言包语言</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="admin_fh"><a href="?action=edit&lang=<?php echo $lang;?>">返回</a></div>

<div class="order_contain">	
<form name="maininfo" method="post" enctype="multipart/form-data" action="admin_lang.php" class="form">
<div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th class="w1">说明</th><th class="w2">参数值</th><th class="w3">变量名</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td class="w1" style="text-align:center">修改的语言标示:</td><td class="w2"><?php echo $lang;?></td><td class="w3"></td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">语言变量:</td><td class="w2"><?php echo $rel[0]['lang_tag'];?></td><td class="w3">不能重复，提交后不能更改</td>
		</tr>
		<tr>
		  <td class="w1" style="text-align:center">语言变量值:</td><td class="w2"><input type="text" name="lang_value" style="width:80%" value="<?php echo $rel[0]['lang_value'];?>"/></td><td class="w3"></td>
		</tr>
	</tbody>
 </table>
 </div>
<div class="order_btn">
<input type="hidden" name="action" value="save_lang_lang_edit"/><input type="hidden" value="<?php echo $GLOBALS['lang'];?>" name="lang" /><input type="hidden" value="<?php echo $rel[0]['id'];?>"  name="id"/>
  <input type="submit" value="确定" name="submit"/><input type="reset" style="margin:0 10px;" value="重置" name="reset"/>
 </div>
</form>
</div>

</body>
</html>
