<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>咨询管理</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('#sl_all').click(function(){
		$('table').find('#all').attr('checked','checked');
	});
	$('#show_list').find('tr').hover(function(){
		$(this).find('td').css('background','#ccffcc');
	},function(){
		$(this).find('td').css('background','');
	});
	
});
</script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 咨询管理</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="div_out">

<div class="lang">
			<ul>
			 <?php
 $cache_file=DATA_PATH."cache/lang_cache.php";
 $cache_arr=read_cache($cache_file,'lang_cache');
 if(!empty($cache_arr)){
 foreach($cache_arr as $k=>$v){
  if(!$v['lang_is_use']){continue;}
 ?>
 <li><a href="?lang=<?php echo $v['lang_tag'];?>" class="<?php if($GLOBALS['lang']==$v['lang_tag']){echo 'hover';}?>"><?php echo $v['lang_name'];?></a></li>
 <?php
 }
 }
 ?>
			</ul>
		</div><!--语言-->

<div class="order_contain">
<form name="content_list" id="content_list" method="post" action="admin_content.php" class="form" enctype="multipart/form-data">
<div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:15%">标题</th><th style="width:15%">添加时间</th><th style="width:30%">咨询内容</th><th style="width:10%">咨询人</th><th style="width:5%">状态</th><th style="width:15%">回复时间</th><th style="width:10%">操作</th></tr>
	</thead>
	<tbody id="show_list">
	<?php
	$maintb=DB_PRE."ask";
	$page=empty($_GET['page'])?1:$_GET['page'];
	$pagesize=30;
	$pagenum=($page-1)*$pagesize;
	$filt="";
	$query='&action=ask';
	$total_num=$GLOBALS['mysql']->fetch_rows("select m.id from {$maintb} as m");
	$total_page=ceil($total_num/$pagesize);
	$sql="select m.* from {$maintb} as m order by m.addtime desc limit {$pagenum},{$pagesize}";
	$rel=$GLOBALS['mysql']->fetch_asc($sql);
	if(!empty($rel)){
	foreach($rel as $key=>$value){
	?>
		<tr><td style="width:15%; text-align:center"><a href="?action=reply&id=<?php echo $value['id'];?>"><?php echo $value['title'];?></a></td><td style="width:15%; text-align:center"><?php echo empty($value['addtime'])?'':date('Y-m-d H:m:s',$value['addtime']);?></td><td style="width:30%;text-align:center"><?php echo cn_substr($value['content'],160);?></td><td style="width:10%;text-align:center"><a href="admin_member.php?action=show&id=<?php echo $value['member'];?>">详细查看</a></td><td style="width:5%; text-align:center"><?php echo empty($value['reply'])?'<span style="color:red">未回复</span>':"已回复";?></td><td style="width:15%;text-align:center"><?php echo empty($value['replytime'])?'':date("Y-m-d H:m:s",$value['replytime']);?></td><td style="width:10%;text-align:center"><a href="javascript:if(confirm('确定要删除么,删除后将不可恢复!')){location.href='?action=del&id=<?php echo $value['id'];?>';}">删除</a>|<a href="?action=reply&id=<?php echo $value['id'];?>">回复查看</a></td></tr>
		<?php }
		}?>
		</tbody>
 </table>
 </div>
 <div class="page page_fy">
		<?php echo page('admin_ask.php',$page,$query,$total_num,$total_page);?>
 </div>
</form>
</div><!--内容切换-->
<div class="ie8-height"></div>

</body>
</html>
