<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>修改模型</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript" src="template/images/form.js"></script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 修改表单模型</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="admin_fh"><a href="?action=form&lang=<?php echo $lang;?>">返回</a></div>
<div class="order_contain">
<form name="maininfo" method="post" enctype="multipart/form-data" action="?" class="form">
 <div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
	<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="用于区分表单模型的名称" class="help">模型名称：</span></td><td style="width:70%"><input name="form_name" value="<?php echo $rel['form_name'];?>" style="width:50%" class="is_empty" title="模型名称" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="不可重复,用于输出表单模型，必须为小写英文和数字,填写后不可更改" class="help">模型标识：</span></td><td style="width:70%"><input name="form_mark" value="<?php echo $rel['form_mark'];?>" disabled="disabled" style="width:20%" class="is_empty" title="模型标示" id="bs" /><span id="loading" style="display:none"></span></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">是否开启：</td><td style="width:70%"><label for="f1"><input id="f1" style="margin:0 5px; border:none" <?php if($rel['is_disable']){echo 'checked="checked"';}?> type="radio" name="is_disable" value="1" />否</label><label for="f2"><input id="f2" type="radio" <?php if(!$rel['is_disable']){echo 'checked="checked"';}?> style="margin:0 5px; border:none" name="is_disable" value="0" />是</label></td>
		</tr>
		
	</tbody>
 </table>
 </div>
<div class="order_btn">
<input type="hidden" name="action" value="save_xg_form"/><input type="hidden" name="id" value="<?php echo $GLOBALS['id'];?>" />
  <input type="submit" value="确定" name="submit"/><input type="reset" style="margin:0 10px;" value="重置" name="reset"/>
 </div>
</form>
</div>

</body>
</html>
