<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加字段</title>
<link rel="stylesheet" type="text/css" href="template/admin.css"/>
<script type="text/javascript" src="template/images/jquery.js"></script>
<script type="text/javascript" src="template/images/ck_form.js"></script>
<?php
	$tech_num = (count($tech_arr)-1);
	$show_tech = $tech_arr[rand(0,$tech_num)];
?>
<script type="text/javascript">
	$(document).ready(function(){
		$str = '<?php echo $show_tech;?>';
		$('#show_tech').html("<em>小提示：</em>"+$str).fadeIn('slow');
	});
</script>
</head>

<body>
<div class="admin_position"><span>当前位置 > 添加字段</span><p id="show_tech" style="display:none"></p></div><!--位置-->
<div class="admin_fh"><a href="?">返回</a></div>		
<div class="order_contain">

<form name="maininfo" method="post" action="admin_channel.php" class="form">
<div class="order_main">
 <table cellpadding="0" cellspacing="0" width="100%" class="table_info1">
 	<thead>
		<tr><th style="width:30%">参数说明</th><th style="width:70%">参数值</th></tr>
	</thead>
	<tbody>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="发布内容时显示的提示文字" class="help">提示文字：</span></td><td style="width:70%"><input name="use_name" value="" style="width:50%" reg="[^0]" title="提示文字" /><span name="easyTip">不能为空</span></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="存储数据使用，同一内容模型下不可重复,必须为英文,填写后不可更改" class="help">字段名称：</span></td><td style="width:70%"><input name="field_name" value="" style="width:50%" reg="^\w+$" title="字段名称" /><span name="easyTip">使用字母、数字或_组合</span></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">字段类型：</td><td style="width:70%">
		  <p style="width:100%; float:left"><label for="f1"><input id="f1" style="border:none; margin-top:3px;" type="radio" name="field_type" value="text" checked="checked"/>文本框</label></p>
		  <p style="width:100%; float:left"><label for="f2"><input id="f2" type="radio" style="border:none; margin-top:3px;" name="field_type" value="textarea" />多行文本</label></p>
		  <p style="width:100%; float:left"><label for="f3"><input id="f3" type="radio" style="border:none; margin-top:3px;" name="field_type" value="html" />html文本</label></p>
		  <p style="width:100%; float:left"><label for="f4"><input id="f4" type="radio" style="border:none; margin-top:3px;" name="field_type" value="upload_pic" />上传图片(单图)</label></p>
		  <p style="width:100%; float:left"><label for="f5"><input id="f5" type="radio" style="border:none; margin-top:3px;" name="field_type" value="upload_pic_more" />上传图片(多图)</label></p>
		  <p style="width:100%; float:left"><label for="f6"><input id="f6" type="radio" style="border:none; margin-top:3px;" name="field_type" value="upload_file" />上传附件</label></p>
		  <p style="width:100%; float:left"><label for="f7"><input id="f7" type="radio" style="border:none; margin-top:3px;" name="field_type" value="select" />option下拉</label></p>
		  <p style="width:100%; float:left"><label for="f8"><input id="f8" type="radio" style="border:none; margin-top:3px;" name="field_type" value="radio" />radio选项</label></p>
		  <p style="width:100%; float:left"><label for="f9"><input id="f9" type="radio" style="border:none; margin-top:3px;" name="field_type" value="checkbox" />Checkbox多选</label></p>		  
		  </td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="选择radion,option,checkbox字段使用,分割;如a,b,c" class="help">字段默认值：</span></td><td style="width:70%">
		 <textarea name="field_value" style="width:50%; height:50px;"></textarea></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="说明将会出现在表单中，表单使用名下面" class="help">字段说明：</span></td><td style="width:70%">
		 <textarea name="field_info" style="width:50%; height:50px;"></textarea></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="字段排序,按排序输出" class="help">字段排序：</span></td><td style="width:70%">
		 <input name="field_order" value="10" style="width:20%" /></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1"><span title="固定的字段不能单独删除" class="help">是否固定：</span></td><td style="width:70%"><label for="f10"><input id="f10" style="border:none; margin-top:3px;" type="radio" name="is_del" value="0" checked="checked"/>否</label><label for="f11"><input id="f11" type="radio" style=" border:none; margin-top:3px;" name="is_del" value="1"  />是</label></td>
		</tr>
		<tr>
		  <td style="width:30%;text-align:center" class="w1">是否禁用：</td><td style="width:70%"><label for="f12"><input id="f12" style="border:none; margin-top:3px;" type="radio" name="is_disable" value="0" checked="checked"/>否</label><label for="f13"><input id="f13" type="radio" style="border:none; margin-top:3px;" name="is_disable" value="1"  />是</label></td>
		</tr>
		
	</tbody>
 </table>
 </div>
<div class="order_btn">
<input type="hidden" name="action" value="save_field"/><input type="hidden" value="<?php echo $GLOBALS['id'];?>" name="id" />
  <input type="submit" value="确定" name="submit" class="go"/><input type="reset" style="margin:0 10px;" class="go" value="重置" name="reset"/>
 </div>
</form>
</div>
<div class="ie8-height"></div>
</body>
</html>
